*.DS_Store
Standalone/node_modules
Standalone/android/.idea/
Standalone/android/app/libs/couchbase-lite-android-ee-3.0.0.aar
Standalone/android/app/build
Standalone/android/.gradle/
Standalone/android/local.properties
Standalone/package.json
Standalone/package-lock.json
Standalone/ios/pods/
Standalone/yarn-error.log
Standalone/yarn.lock
Query/node_modules
Query/android/app/libs/couchbase-lite-android-ee-3.00.aar
Query/android/app/build
Query/android/.gradle/
Query/android/.idea/
Query/android/local.properties
Sync/node_modules/
Sync/android/app/libs/
Sync/android/app/build
Sync/android/.gradle/
Sync/android/.idea/
Sync/android/local.properties
Sync/yarn-error.log
*.lock
