*.DS_Store
Standalone/node_modules
Standalone/android/.idea/
Standalone/android/app/libs/couchbase-lite-android-ee-3.0.0.aar
Standalone/android/app/build
Standalone/android/.gradle/
Standalone/android/local.properties
Standalone/package-lock.json
Standalone/ios/Pods/
Standalone/yarn-error.log
Standalone/yarn.lock
Standalone/ios/userprofiledemo.xcworkspace
Standalone/android/app/src/debug/
Query/node_modules
Query/android/.idea/
Query/android/app/libs/couchbase-lite-android-ee-3.0.0.aar
Query/android/app/build
Query/android/.gradle/
Query/android/local.properties
Query/package-lock.json
Query/ios/Pods/
Query/yarn-error.log
Query/yarn.lock
Query/ios/userprofiledemo.xcworkspace
Query/android/app/src/debug/
Sync/node_modules
Sync/android/.idea/
Sync/android/app/libs/couchbase-lite-android-ee-3.0.0.aar
Sync/android/app/build
Sync/android/.gradle/
Sync/android/local.properties
Sync/package-lock.json
Sync/ios/Pods/
Sync/yarn-error.log
Sync/yarn.lock
Sync/ios/userprofiledemo.xcworkspace
Sync/android/app/src/debug/
*.lock